# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
Thumbs.db
*.pem
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.env.*  # .env.local, .env.development, etc.

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE/editor settings
.vscode/
.idea/
*.swp

# custom Plug types (if you don't want to commit it)
# Uncomment if you want to exclude manually created types
# /types/plug.d.ts

# custom caches
.cache/
turbo/

# OS-specific
ehthumbs.db
Icon?
Desktop.ini
