@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #011627;
  --foreground: #F5F8FA;
  --primary: #225491;
  --secondary: #90C6EC;
  --tertiary: #F8C58C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground); 
  --color-primary: var(--primary);
  --color-tertiary: var(--tertiary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-open-sans);
  --font-inter: var(--font-inter);;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Open Sans', 'Inter', sans-serif;
}
